PORT=3010
WEATHER_API_KEY=your_weather_api_key
LLM_SERVICE_URL=LLM_SERVICE_URL
CHROMA_DB_URL=http://localhost:8000
RAG_MODEL=gemini/gemini-2.0-flash-lite
IMAGE_MODEL=gemini/gemini-2.5-flash-lite
WEB_SEARCH_MODEL=gemini/gemini-2.5-flash-lite